@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<script type="text/javascript">

    function doPoll() {
        var m = {};
        var req = $.ajax(
                {
                    url: '../home/noticepoll',
                    type: "POST",
                    dataType: "json",
                    processData: false,
                    contentType: "application/json",
                    data: '',
                    success: function (r) {
                        if (r.Success) {
                            if (r.Msg.indexOf('time out') > -1) {
                                //just a timeout return
                            }
                            else {
                                //got a new notice
                                showNotice(r.Msg);
                            }
                            
                            doPoll();
                        }
                        else {
                            alert('err:' + r);
                        }
                    }

                }
            );
    }

    function showNotice(msg) {
        Notification.requestPermission(function (status) {
            //status是授权状态，如果用户允许显示桌面通知，则status为'granted'  
            console.log('status: ' + status);

            //permission只读属性  
            var permission = Notification.permission;
            //default 用户没有接收或拒绝授权请求 不能显示通知  
            //granted 用户接受授权请求 允许显示通知  
            //denied  用户拒绝授权请求 不允许显示通知  

            console.log('permission: ' + permission);
        });

        var n = new Notification("sir, you got a message", {
            icon: 'img/icon.png',
            body: msg
        });

        n.onshow = function () {
            console.log('notification shows up');
            //5秒后关闭消息框  
            setTimeout(function () {
                n.close();
            }, 5000);
        };

        
        //alert(msg);
        //$("<div style='margin:5px;'>" + msg + "</div>").appendTo($(document.body));
        var tip = $(".tip").size() == 0 ? $("<span></span>") : $(".tip");
        tip.text(++noticeCnt).addClass("tip");
        tip.appendTo($("div:eq(2)"));
    }

    var noticeCnt = 0;

    $(document).ready(function () {
            doPoll();

        }
    );
</script>
<style type="text/css">
    .tip{
        background-color:red;
        color:white;        
    }
</style>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>xxx
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>